{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Kursy walut</title>
        <link href="{% static 'currency_rates/css/currency_rates.css' %}" rel="stylesheet" />
</head>
<body>
<div class="top">
    <h1>Na tej stronie możesz zarządzać kursami walut</h1>
    </div>
    <p>Wybierz co chcesz zrobić:</p>
    <div class="points">
        <a href="{% url 'fetch_and_save_currency_rates' %}">Kliknij, by pobrać aktualny kurs</a>
        <a href="{% url 'show_currency_rates' %}">Zobacz aktualne zestawienie</a>
        <a href="{% url 'fetch_currency_data' %}">Przygotuj zestawienie archiwalnych kursow wybranej waluty</a>
    </div>

<div class="footer">
    <p> Strona zrobiona przez Natalię Pucek.</p>
</div>
</body>
</html>