{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Aktualny kurs walut</title>
    <link href="{% static 'currency_rates/css/rates.css' %}" rel="stylesheet" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var timeElement = document.getElementById("time");
            var currentDate = new Date().toLocaleDateString();
            timeElement.textContent = "Aktualna data: " + currentDate;
        });
    </script>
</head>
<body>
<div class="navigation">
    <a href="{% url 'home_page' %}"> Strona główna </a>
    <a href="{% url 'country_list' %}">Kraje</a>
    <a href="{% url 'currency_' %}">Waluty</a>
    <a href="{% url 'maps' %}">Mapy</a>
</div>
<div class="top">
    <h1>Dzisiejszy kurs walut</h1>
</div>
<p id="time"></p>
    <table class="table">
        <thead>
            <tr>
                <th>Waluta</th>
                <th>Kurs</th>
            </tr>
        </thead>
        <tbody>
            {% for rate in currency_rates %}
            <tr>
                <td>{{ rate.currency_code }}</td>
                <td>{{ rate.exchange_rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<div class="footer">
    <p> Strona zrobiona przez Natalię Pucek.</p>
</div>

</body>
</html>
