body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    text-align: center;
}

.top {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: x-large;
    color: #4f4f4f;
}

h1 {
    margin: 0;
}

p {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

a {
    display: block;
    margin-bottom: 15px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.points {
    list-style-type: circle;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

.points a {
    display: list-item;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

.points a:hover {
    text-decoration: underline;
}

.footer{
    margin: auto;
}

.footer p {
    font-size: 16px;
    margin-top: 150px;
    font-style: italic;
}

#import{
    margin-top: 10%;
}

.navigation{
    margin-top: 5%;
    line-height: 30px;
}

#raport{
    font-style: oblique;
    font-size: 20px;
    color: darkred;
}


.table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

.table th,
.table td {
  border: 1px solid black; /
  padding: 8px;
}

.table th {
  background-color: #f1eeee;
}

.table tr:nth-child(even) {
  background-color: darkgray;
}

#back{
    margin-top: 80px;
}
#fromto{
    margin-top: 50px;
}